@import url('https://fonts.googleapis.com/css2? family = Work + Sans & display = swap');

body {
    background: #f3f2f2;
    display: 1440px;
}

div.container{
    position: absolute;
    left: 670px;
    right: 670px;
    top: 50px;
    height: 720px;
    width: 550px;
    background:white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    }

h1.titulo{
    position: absolute;
    left: 123px;
    right: 123px;
    top: 50px;
    bottom: 67.97%;
    font-family: Work Sans, sans-serif;
    font-style:normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 135.5%;
    color: #6358DC;
}
   
input.caixaN{
    position: absolute;
    width: 420px;
    height: 50px;
    left: -62.5px;
    font-family: Work Sans, sans-serif;
    font-style:normal;
    font-weight: 500;
    font-size: 15px;
    top: 140px;
    background: #f3f2f2;
    border-radius: 8px;
    border-color: transparent;
    }

input.caixaA{
    position: absolute;
    width: 420px;
    height: 50px;
    left: -62.5px;
    top: 265px;
    font-family: Work Sans, sans-serif;
    font-style:normal;
    font-weight: 500;
    font-size: 15px;
    background: #f3f2f2;
    border-radius: 8px;
    border-color: transparent;
}

input.caixaE{
    position: absolute;
    width: 420px;
    height: 50px;
    left: -62.5px;
    font-family: Work Sans, sans-serif;
    font-style:normal;
    font-weight: 500;
    font-size: 15px;
    top: 390px;
    background: #f3f2f2;
    border-radius: 8px;
    border-color: transparent;
}
button{
    width: 420px;
    height: 50px;
    left: -62.5px;
    top: 500px;
    background: #6358DC;
    color: white;
    border-radius: 8px;
    border-color:transparent;
    font-family: Work Sans, sans-serif;
    position: absolute;
    font-weight: 500;
    margin-top: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 20px;
    }
    
button:hover {
    letter-spacing: 0.5px;
    font-weight: 500;
    background:  transparent;
    color: #6358DC;
}

div.btnVoltar{
    color:#6358DC;
}
        
img.image_sucesso{
    margin-left: 500px;
    top: 20px;
 }