@import url('https://fonts.googleapis.com/css2? family = Work + Sans & display = swap');


body {
background-color: white;
background-repeat: no-repeat;
min-height: 100vh;
min-width: 100vw;
display: flex;
align-items: center;
justify-content: center;
display: 1440px;
}
div.container{
position: absolute;
 width: 640px;
height: 635px;
left: 146px;
top: 130px;   
}

h1{
position: absolute;
height: 94px;
left: 0px;
top: calc(50% - 94px/2 - 363px);
font-family: Work Sans, sans-serif;;
font-style: normal;
font-weight: 800;
font-size: 50px;
line-height: 77px;
letter-spacing: 0.1em;
color: #444B59;
}

div.usuario{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
position: static;
width: 640px;
height: 135px;
left: 0px;
top: 0px;
flex: none;
order: 0;
flex-grow: 0;
margin: 36px 0px;
margin-bottom: 65px;
outline: none;
}

h2{
position: static;
width: 115px;
height: 38px;
left: 0px;
top: 0px;
margin-top: 20px;
font-family: Work Sans, sans-serif;;
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 38px;
letter-spacing: 0.1em;
color: #444B59;
}

div.senha{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
position: static;
width: 640px;
height: 134px;
left: 0px;
top: 171px;
margin-bottom: 65px;
}

input.senha, .nome{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 24px 32px;
position: static;
width: 640px;
height: 80px;
left: 0px;
top: 54px;
background: #FFFFFF;
border: 2px solid #444B59;
box-sizing: border-box;
border-radius: 80px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 16px 0px;
outline: none;

}
form input[type="submit"] {
margin-top: 50px;
padding: 0.4rem;
background: linear-gradient(to left, #F2929A, #E63946);
cursor: pointer;
color: white;
font-size: 20px;
font-weight: 300;
border-radius: 80px;
width: 640px;
height: 80px;
left: 0px;
transition: all 0.3s ease;
border-color: white ;
}

form input[type="submit"]:hover {
letter-spacing: 0.5px;
background: linear-gradient(to left, #F2929A, #E63946);
}
img{
position: absolute;
width: 40%;
left: 1100px;
top: 75px;
}
/* imagem de erro*/
img.image_erro{
    position:absolute;
    left: 580px;
    right: 580px; 
    top: 200px;
    
}

